body{
font-family: Arial,Verdana,Tahoma;
margin: 0px;
padding: 0px;
text-decoration: none;
}

#body-container{
width:415px;
height:1200px;
margin:0 auto;
border:1px solid #3285ef;
}
				
#body-container.glossary-container{
clear:both;
}
				
#body-container.content-container {
height:30px;
width:415px;
overflow: auto;
font-size: 10pt;
clear: both;
}
				
#body-container .content-container div {
padding-left: 10px;
border-bottom: 1px #666666 solid;
}
				
#body-container .content-container p.return-to-top{
color: #3399FF;
text-decoration: underline;
text-align: right;
z-index: -1;
margin-right: 10px;
cursor: pointer;
font-size: 15px;
}
				
.firstUL {padding: 0px; margin: 0px; background-color: #3285ef;}
				
.firstUL li {
background: url(https://fronter.com/uia/links/files.phtml/727606634$936476613$/Fagstoff/Lab+_prcent_28individuelt_prcent_29/Filer+for+LAB4/link_sprite_img.jpg) no-repeat scroll 0 0;
display: inline;
font-size: 16pt;
font-weight: bold;
padding: 10px 15px 22px;
line-height: 70px;
cursor: pointer;
}
				
.firstUL li.selected {
background: url(https://fronter.com/uia/links/files.phtml/727606634$936476613$/Fagstoff/Lab+_prcent_28individuelt_prcent_29/Filer+for+LAB4/link_sprite_img.jpg) no-repeat scroll 0px -58px;
color: #ffffff;
font-weight: bold;
}

address{
position: absolute;
top: 550px;
left: 600px;
}

#scroll {
position: absolute;
top: 30px;
left: 600px;
}

dd{color: #ffffff; font-size: 15px;}

dt{font-weight: bold;}